.navbar{
    background-color: #333;
    margin: 0;
    border: none;
    border-radius: 0;
}

.navbar li a{
    overflow: hidden;
    background-color: #333;
    word-spacing: 2px;
}

.navbar a,
.navbar-toggle{
    text-transform: capitalize;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white !important;
}

.navbar li a:hover,
.navbar li:hover,
.dropdown.open > a{
    color: #74b9ff !important;
}


