<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li><a routerLink="/movies"> home </a></li>
            <li><a routerLink="/about" title="not implemented"> about </a></li>
            <li><a routerLink="/reviews"> Reviews </a></li>
      </ul>
      <form class="navbar-form navbar-left" (ngSubmit)="onSearchForMovie()">
        <div class="form-group">
          <input type="text" class="form-control search__input" placeholder="Search"  name="search__movie" 
           #search__input = "ngModel"  [(ngModel)]="searchValue" />
        </div>
        <input type="submit" class="btn btn-default" value="Search" ng-model="movies-list"/> 
      </form>
    </div><!-- /.navbar-collapse -->  
  </div><!-- /.container-fluid -->
</nav>

