:host{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    max-height: 200px;
    font-family: Lato;
    cursor: pointer;
    width: 100%;
}

.img-responsive {
    max-height: 120px;
}

.summary {
    margin-left: 10px;
}

.movie-details {
    display: flex;
}

.list-group-item-heading {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 480px){
    .summary {
        overflow: hidden;
        max-height: 80px;
    }
}