:host{
    display: block;
    margin-top: 1rem;
    height: 18rem;
    font-family: Lato;
    cursor: pointer;
    width: 100%;
}

.img-responsive {
    max-height: 120px;
    position: absolute
}

.summary {
    position: relative;
    margin-left: 10rem;
}